.MenuUno_uno {
  text-align: center;
}

.MenuUno_dos {
  text-align: justify;
}

.MenuUno_tres{
  display: block;
  margin: auto;
}

.MenuUno_cuarto{
  text-align: right;
}


#div_uno{
  padding-top: 20px;
  padding-bottom: 20px;
}

#div_dos{
  padding-bottom: 20px;
}

.boton{
  color: black;
  text-align: center;
}

#id_jumbotron{
    color: black;
    background-color:cornflowerblue;
    font-display: swap;
    text-align: center;
}