.MenuUno_uno {
  text-align: center;
}

.MenuUno_dos {
  text-align: justify;
}

.MenuUno_tres{
  display: block;
  margin: auto;
}

#div_uno{
  padding-top: 20px;
  padding-bottom: 20px;
}

#div_dos{
  padding-bottom: 20px;
}

.boton{
  color: black;
  text-align: center;
}